body {
    background-color: lightgray;
}

h1 {
    background-color: white;
    color: black;
    font-family: "Comic Sans";
    font-size: 20px;
    text-align: center;
}

p{font-family: "Comic Sans";
    font-size: 20px;
}

img{
    height:200px;
    border: 1px solid red;
}
